certifi==2018.11.29
dateparser==0.7.0
Django==2.1.4
django-filter==2.0.0
django-rest-framework==0.1.0
djangorestframework==3.9.0
humanize==0.5.1
Markdown==3.0.1
maya==0.5.0
pendulum==1.5.1
psycopg2-binary==2.7.6.1
python-dateutil==2.7.5
pytz==2018.7
pytzdata==2018.7
regex==2018.11.22
sentry-sdk==0.6.2
six==1.12.0
snaptime==0.2.4
tzlocal==1.5.1
urllib3==1.24.1
